In [150]:
import pandas as pd
import numpy as np

In [151]:
df = pd.read_csv("train.csv", encoding="utf-8")

In [152]:
df

,Cluster/Country/Region,SubCluster,calweek,brand,dc,product_code,customer_code,Quantity
0,US,SC1,202001,BRANDA,DC1,PRDCT1,CUSTA,537
1,US,SC1,202002,BRANDA,DC1,PRDCT1,CUSTA,544
2,US,SC1,202003,BRANDA,DC1,PRDCT1,CUSTA,574
3,US,SC1,202004,BRANDA,DC1,PRDCT1,CUSTA,523
4,US,SC1,202005,BRANDA,DC1,PRDCT1,CUSTA,571
...,...,...,...,...,...,...,...,...
18463,US,SC2,202311,BRANDC,DC4,PRDCT9,CUSTZ,1753
18464,US,SC2,202312,BRANDC,DC4,PRDCT9,CUSTZ,1752
18465,US,SC2,202313,BRANDC,DC4,PRDCT9,CUSTZ,1673
18466,US,SC2,202314,BRANDC,DC4,PRDCT9,CUSTZ,1752
18467,US,SC2,202315,BRANDC,DC4,PRDCT9,CUSTZ,1642

In [153]:
df.columns

Index(['Cluster/Country/Region', 'SubCluster', 'calweek', 'brand', 'dc',
       'product_code', 'customer_code', 'Quantity'],
      dtype='object')

In [154]:
df1 = df.drop(['Cluster/Country/Region', 'SubCluster', 'brand', 'dc'], axis = 1)

In [155]:
df1

       calweek product_code customer_code  Quantity
0       202001       PRDCT1         CUSTA       537
1       202002       PRDCT1         CUSTA       544
2       202003       PRDCT1         CUSTA       574
3       202004       PRDCT1         CUSTA       523
4       202005       PRDCT1         CUSTA       571
...        ...          ...           ...       ...
18463   202311       PRDCT9         CUSTZ      1753
18464   202312       PRDCT9         CUSTZ      1752
18465   202313       PRDCT9         CUSTZ      1673
18466   202314       PRDCT9         CUSTZ      1752
18467   202315       PRDCT9         CUSTZ      1642

[18468 rows x 4 columns]

In [156]:
df1['prod_cust'] = df['product_code'] + '_' + df['customer_code']

In [157]:
df1['prod_cust'].value_counts()

PRDCT1_CUSTA    171
PRDCT3_CUSTM    171
PRDCT5_CUSTL    171
PRDCT5_CUSTK    171
PRDCT4_CUSTZ    171
               ...
PRDCT6_CUSTC    171
PRDCT6_CUSTB    171
PRDCT6_CUSTA    171
PRDCT5_CUSTF    171
PRDCT9_CUSTZ    171
Name: prod_cust, Length: 108, dtype: int64

In [158]:
df_prod1 = df1[df1['product_code']=='PRDCT1']

In [159]:
df_prod1

       calweek product_code customer_code  Quantity     prod_cust
0       202001       PRDCT1         CUSTA       537  PRDCT1_CUSTA
1       202002       PRDCT1         CUSTA       544  PRDCT1_CUSTA
2       202003       PRDCT1         CUSTA       574  PRDCT1_CUSTA
3       202004       PRDCT1         CUSTA       523  PRDCT1_CUSTA
4       202005       PRDCT1         CUSTA       571  PRDCT1_CUSTA
...        ...          ...           ...       ...           ...
10255   202311       PRDCT1         CUSTZ      1273  PRDCT1_CUSTZ
10256   202312       PRDCT1         CUSTZ      1264  PRDCT1_CUSTZ
10257   202313       PRDCT1         CUSTZ      1266  PRDCT1_CUSTZ
10258   202314       PRDCT1         CUSTZ      1216  PRDCT1_CUSTZ
10259   202315       PRDCT1         CUSTZ      1268  PRDCT1_CUSTZ

[2052 rows x 5 columns]

In [161]:
# Convert 'calweek' column to datetime format
df_prod1['calweek'] = pd.to_datetime(df_prod1['calweek'].astype(str) + '-1', format='%Y%W-%w').dt.strftime('%Y-%W')

C:\Users\91999\AppData\Local\Temp\ipykernel_9848\1623320882.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prod1['calweek'] = pd.to_datetime(df_prod1['calweek'].astype(str) + '-1', format='%Y%W-%w').dt.strftime('%Y-%W')

In [162]:
df_prod1['calweek']

0        2020-01
1        2020-02
2        2020-03
3        2020-04
4        2020-05
          ...
10255    2023-11
10256    2023-12
10257    2023-13
10258    2023-14
10259    2023-15
Name: calweek, Length: 2052, dtype: object

In [ ]:
# Group data by 'calweek' and aggregate 'Quantity'
ts_data = df_prod1.groupby('calweek')['Quantity'].sum()

In [133]:
ts_data

calweek
2020-01    10709
2020-02    10653
2020-03    10810
2020-04    10723
2020-05    10824
           ...
2023-11    10761
2023-12    10919
2023-13    10665
2023-14    10752
2023-15    10890
Name: Quantity, Length: 171, dtype: int64

In [113]:
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [115]:
len(ts_data)

171

In [116]:
# Split data into training and testing sets
train = ts_data.iloc[:130]
test = ts_data.iloc[130:]

In [117]:
# ARIMA model
def arima_forecast(train, test):
    model = ARIMA(train, order=(1, 0, 0))  # ARIMA(p, d, q)
    model_fit = model.fit()
    forecast = model_fit.forecast(steps=len(test))[0]
    return forecast

# SARIMA model
def sarima_forecast(train, test):
    model = SARIMAX(train, order=(1, 0, 0), seasonal_order=(1, 0, 0, 12))  # SARIMA(p, d, q)(P, D, Q, m)
    model_fit = model.fit()
    forecast = model_fit.forecast(steps=len(test))
    return forecast

# Holt-Winters model
def holt_winters_forecast(train, test):
    model = ExponentialSmoothing(train, seasonal_periods=12, trend='add', seasonal='add')
    model_fit = model.fit()
    forecast = model_fit.forecast(len(test))
    return forecast

In [118]:
# Perform forecasting using ARIMA
arima_predictions = arima_forecast(train, test)

# Perform forecasting using SARIMA
sarima_predictions = sarima_forecast(train, test)

# Perform forecasting using Holt-Winters
holt_winters_predictions = holt_winters_forecast(train, test)

C:\Users\91999\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\91999\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\91999\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
C:\Users\91999\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

KeyError: 0