In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv("train.csv", encoding="utf-8")

In [73]:
df

,Cluster/Country/Region,SubCluster,calweek,brand,dc,product_code,customer_code,Quantity
0,US,SC1,202001,BRANDA,DC1,PRDCT1,CUSTA,537
1,US,SC1,202002,BRANDA,DC1,PRDCT1,CUSTA,544
2,US,SC1,202003,BRANDA,DC1,PRDCT1,CUSTA,574
3,US,SC1,202004,BRANDA,DC1,PRDCT1,CUSTA,523
4,US,SC1,202005,BRANDA,DC1,PRDCT1,CUSTA,571
...,...,...,...,...,...,...,...,...
18463,US,SC2,202311,BRANDC,DC4,PRDCT9,CUSTZ,1753
18464,US,SC2,202312,BRANDC,DC4,PRDCT9,CUSTZ,1752
18465,US,SC2,202313,BRANDC,DC4,PRDCT9,CUSTZ,1673
18466,US,SC2,202314,BRANDC,DC4,PRDCT9,CUSTZ,1752
18467,US,SC2,202315,BRANDC,DC4,PRDCT9,CUSTZ,1642

In [74]:
df.columns

Index(['Cluster/Country/Region', 'SubCluster', 'calweek', 'brand', 'dc',
       'product_code', 'customer_code', 'Quantity'],
      dtype='object')

In [75]:
df1 = df.drop(['Cluster/Country/Region', 'SubCluster', 'brand', 'dc'], axis = 1)

In [76]:
df1

       calweek product_code customer_code  Quantity
0       202001       PRDCT1         CUSTA       537
1       202002       PRDCT1         CUSTA       544
2       202003       PRDCT1         CUSTA       574
3       202004       PRDCT1         CUSTA       523
4       202005       PRDCT1         CUSTA       571
...        ...          ...           ...       ...
18463   202311       PRDCT9         CUSTZ      1753
18464   202312       PRDCT9         CUSTZ      1752
18465   202313       PRDCT9         CUSTZ      1673
18466   202314       PRDCT9         CUSTZ      1752
18467   202315       PRDCT9         CUSTZ      1642

[18468 rows x 4 columns]

In [77]:
df1['timeseries_key'] = df['product_code'] + '_' + df['customer_code']

In [78]:
df1.set_index('calweek',inplace=True)

In [79]:
df_prod1 = df1[df1['timeseries_key']=='PRDCT1_CUSTA']

In [80]:
df_prod1

        product_code customer_code  Quantity timeseries_key
calweek
202001        PRDCT1         CUSTA       537   PRDCT1_CUSTA
202002        PRDCT1         CUSTA       544   PRDCT1_CUSTA
202003        PRDCT1         CUSTA       574   PRDCT1_CUSTA
202004        PRDCT1         CUSTA       523   PRDCT1_CUSTA
202005        PRDCT1         CUSTA       571   PRDCT1_CUSTA
...              ...           ...       ...            ...
202311        PRDCT1         CUSTA       553   PRDCT1_CUSTA
202312        PRDCT1         CUSTA       522   PRDCT1_CUSTA
202313        PRDCT1         CUSTA       559   PRDCT1_CUSTA
202314        PRDCT1         CUSTA       541   PRDCT1_CUSTA
202315        PRDCT1         CUSTA       544   PRDCT1_CUSTA

[171 rows x 4 columns]

In [81]:
# Group data by 'calweek' and aggregate 'Quantity'
ts_data = df_prod1.groupby('calweek')['Quantity'].sum()

In [82]:
ts_data

calweek
202001    537
202002    544
202003    574
202004    523
202005    571
         ...
202311    553
202312    522
202313    559
202314    541
202315    544
Name: Quantity, Length: 171, dtype: int64

In [83]:
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [84]:
from statsmodels.tsa.stattools import adfuller

In [85]:
passing_data=adfuller(ts_data)

In [86]:
def adf_test(sales):
    result=adfuller(ts_data)
    labels = ['Test parameters', 'p-value','#Lags Used','Dataset observations']
    for value,label in zip(result,labels):
        print(label+' : '+str(value) )
    if result[1] <= 0.05:
        print("Dataset is stationary")
    else:
        print("Dataset is non-stationary ")

In [87]:
adf_test(ts_data)

Test parameters : -13.40756855326419
p-value : 4.439179540608158e-25
#Lags Used : 0
Dataset observations : 170
Dataset is stationary

In [88]:
len(ts_data)

171

In [89]:
# Split data into training and testing sets
train = ts_data.iloc[:130]
test = ts_data.iloc[130:]

In [90]:
# ARIMA model
def arima_forecast(train, test):
    model = ARIMA(train, order=(1, 0, 0))  # ARIMA(p, d, q)
    model_fit = model.fit()
    forecast = model_fit.forecast(steps=len(test))
    return forecast

# SARIMA model
def sarima_forecast(train, test):
    model = SARIMAX(train, order=(1, 0, 0), seasonal_order=(1, 0, 0, 12))  # SARIMA(p, d, q)(P, D, Q, m)
    model_fit = model.fit()
    forecast = model_fit.forecast(steps=len(test))
    return forecast

# Holt-Winters model
def holt_winters_forecast(train, test):
    model = ExponentialSmoothing(train, seasonal_periods=12, trend='add', seasonal='add')
    model_fit = model.fit()
    forecast = model_fit.forecast(len(test))
    return forecast

In [91]:
# Perform forecasting using ARIMA
arima_predictions = arima_forecast(train, test)

# Perform forecasting using SARIMA
sarima_predictions = sarima_forecast(train, test)

# Perform forecasting using Holt-Winters
holt_winters_predictions = holt_winters_forecast(train, test)

F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [92]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(test,arima_predictions)*100

3.259209679479494

In [93]:
mean_absolute_percentage_error(test,sarima_predictions)*100

12.611328260186342

In [94]:
mean_absolute_percentage_error(test,holt_winters_predictions)*100

3.268848846809093

In [95]:
# # Visualize the forecasts
# plt.plot(test.index, test.to_numpy(), label='Actual')
# plt.plot(test.index, arima_predictions.to_numpy(), label='ARIMA')
# plt.plot(test.index, sarima_predictions.to_numpy(), label='SARIMA')
# plt.plot(test.index, holt_winters_predictions.to_numpy(), label='Holt-Winters')

### FORECASTING

In [96]:
# Split data into training and testing sets
train = ts_data.iloc[:172]

In [97]:
# Holt-Winters model
def holt_winters_forecast(train):
    model = ExponentialSmoothing(train, seasonal_periods=12, trend='add', seasonal='add')
    model_fit = model.fit()
    forecast = model_fit.forecast(13)
    return forecast

In [98]:
# Perform forecasting using Holt-Winters
holt_winters_predictions = holt_winters_forecast(train)

F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: An unsupported index was provided and will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
F:\Python\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [99]:
holt_winters_predictions

171    536.065287
172    541.988671
173    544.762172
174    542.621226
175    540.535257
176    545.423074
177    544.284717
178    547.920536
179    538.486300
180    542.522590
181    543.853003
182    533.396751
183    535.223393
dtype: float64